<%= form_with(model: village) do |form| %>
  <% if village.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(village.errors.count, "error") %> prohibited this village from being saved:</h2>

      <ul>
        <% village.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
