<div id="<%= dom_id farmer %>">
  <div class="row">
    <div class="col-md-4">
      <strong>Name:</strong>
      <%= farmer.name %>
    </div>

    <div class="col-md-4">
      <strong>Code:</strong>
      <%= farmer.code %>
    </div>

    <div class="col-md-4">
      <strong>Nida:</strong>
      <%= farmer.nida %>
    </div>
  </div>

  <div class="row">
  <div class="col-md-4">
    <strong>Village:</strong>
    <%= farmer.village.name %>
  </div>

  <div class="col-md-4">
    <strong>Parish:</strong>
    <%= farmer.parish.name %>
  </div>

  <div class="col-md-4">
    <strong>Phone:</strong>
    <%= farmer.phone %>
  </div>

  </div>
<h4 class="display-6 mt-3">Permanent Crops</h4>
<table class="table table-striped">
  <thead>
    <th>Field Name </th>
    <th>Crops </th>
    <th>Acres </th>
    <th>Trees </th>
    <th>Date Planted </th>
    <th>Est Yield </th>
    <th>Last used Chemicals </th>
    <th>Organic </th>  
  </thead>
  <tr>
    <td><%= farmer.field_name %></td>
    <td><%= farmer.crop %></td>
    <td> <%= farmer.acre %></td>
    <td><%= farmer.tree %></td>
    <td><%= farmer.date_planted %></td>
    <td><%= farmer.est_yield %>   </td>
    <td><%= farmer.last_used_chemical %></td>
    <td><%= farmer.organic %></td>
  </tr>
  <tr>
    <td><%= farmer.field_name2 %></td>
    <td><%= farmer.crop2 %></td>
    <td> <%= farmer.acre2 %></td>
    <td><%= farmer.tree2 %></td>
    <td><%= farmer.date_planted2 %></td>
    <td><%= farmer.est_yield2 %>   </td>
    <td><%= farmer.last_used_chemical2 %></td>
    <td><%= farmer.organic2 %></td>
  </tr>
  <tr>
    <td><%= farmer.field_name3 %></td>
    <td><%= farmer.crop3 %></td>
    <td> <%= farmer.acre3 %></td>
    <td><%= farmer.tree3 %></td>
    <td><%= farmer.date_planted3 %></td>
    <td><%= farmer.est_yield3 %>   </td>
    <td><%= farmer.last_used_chemical3 %></td>
    <td><%= farmer.organic3 %></td>
  </tr>

</table>


<%# Annual Crop row --------------------------------------------- %>

<hr />
<h4 class="display-6 mt-3">Annual Crops</h4>

<table class="table table-striped">
  <thead>
    <th>Name of the Field</th>
    <th>Acres </th>
    <th>Crop of this Year</th>
    <th>Organic </th>
    <th>Last Year </th>
    <th>Organic </th>
    <th>Two years ago</th>
    <th>Organic </th>  
  </thead>
  <tr>
    <td><%= farmer.annual_crop_field %></td>
    <td><%= farmer.anual_crop_acre %></td>
    <td><%= farmer.annual_crop_this_year %></td>
    <td><%= farmer.annual_crop_organic %></td>
    <td><%= farmer.annual_crop_last_year %></td>
    <td><%= farmer.annual_crop_last_year_organic %> </td>
    <td><%= farmer.annual_crop_two_years_ago %></td>
    <td><%= farmer.annual_crop_two_years_ago_organic %></td>
  </tr>
  <tr>
    <td><%= farmer.annual_crop_field2 %></td>
    <td><%= farmer.anual_crop_acre2 %></td>
    <td><%= farmer.annual_crop_this_year2 %></td>
    <td><%= farmer.annual_crop_organic2 %></td>
    <td><%= farmer.annual_crop_last_year2 %></td>
    <td><%= farmer.annual_crop_last_year_organic2 %> </td>
    <td><%= farmer.annual_crop_two_years_ago2 %></td>
    <td><%= farmer.annual_crop_two_years_ago_organic2 %></td>
  </tr>
  <tr>
    <td><%= farmer.annual_crop_field3 %></td>
    <td><%= farmer.anual_crop_acre3 %></td>
    <td><%= farmer.annual_crop_this_year3 %></td>
    <td><%= farmer.annual_crop_organic3 %></td>
    <td><%= farmer.annual_crop_last_year3 %></td>
    <td><%= farmer.annual_crop_last_year_organic3 %> </td>
    <td><%= farmer.annual_crop_two_years_ago3 %></td>
    <td><%= farmer.annual_crop_two_years_ago_organic3 %></td>
  </tr>
  </table>


<h4 class="display-6 mt-3">Animals</h4>

<table class="table table-striped">
  <thead>
    <th>Animal Type</th>
    <th>Number </th>
    <th>Organic (Hai)</th>
    <th>Comment</th>
  </thead>
   <tr>
    <td><%= farmer.animal %></td>
    <td><%= farmer.animal_total %></td>
    <td><%= farmer.animal_organic %></td>
    <td><%= farmer.animal_comment %></td>
  </tr>
  <tr>
    <td><%= farmer.animal2 %></td>
    <td><%= farmer.animal_total2 %></td>
    <td><%= farmer.animal_organic2 %></td>
    <td><%= farmer.animal_comment2 %></td>
  </tr>
  
    <td><%= farmer.animal_animal3 %></td>
    <td><%= farmer.animal_total3 %></td>
    <td><%= farmer.animal_organic3 %></td>
    <td><%= farmer.animal_comment3 %></td>
  </tr>
  <tr>
    <td><%= farmer.animal_animal4 %></td>
    <td><%= farmer.animal_total4 %></td>
    <td><%= farmer.animal_organic4 %></td>
   
  </tr>


  </table>

</div>
