<div id="<%= dom_id farmer %>">
  <p>
    <strong>Name:</strong>
    <%= farmer.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= farmer.code %>
  </p>

  <p>
    <strong>Nida:</strong>
    <%= farmer.nida %>
  </p>

  <p>
    <strong>Village:</strong>
    <%= farmer.village.name %>
  </p>

  <p>
    <strong>Parish:</strong>
    <%= farmer.parish.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= farmer.phone %>
  </p>

</div>
