<div id="<%= dom_id farmer %>">
  <p>
    <strong>Name:</strong>
    <%= farmer.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= farmer.code %>
  </p>

  <p>
    <strong>Nida:</strong>
    <%= farmer.nida %>
  </p>

  <p>
    <strong>Village:</strong>
    <%= farmer.village.name %>
  </p>

  <p>
    <strong>Parish:</strong>
    <%= farmer.parish.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= farmer.phone %>
  </p>
<h4>Permanent Crops</h4>
<div class="row">
    <div class="col-md-3">
      <strong>Field Name:</strong>
      <%= farmer.field_name %>
    </div>
  
    <div class="col-md-3">
      <strong>Crops:</strong>
      <%= farmer.crop %>
    </div>
  
    <div class="col-md-3">
      <strong>Acres:</strong>
      <%= farmer.acre %>
    </div>
   
    <div class="col-md-3">
      <strong>Trees:</strong>
      <%= farmer.tree %>
    </div>

    <div class="col-md-3">
      <strong>Date Planted:</strong>
      <%= farmer.date_planted %>
    </div>
  
    <div class="col-md-3">
      <strong>Estimated Yield:</strong>
      <%= farmer.est_yield %>
    </div>
  
    <div class="col-md-3">
     <strong>Last Used Chemicals:</strong>
     <%= farmer.last_used_chemical %>
    </div>

    <div class="col-md-3">
      <strong>Organic:</strong>
      <%= farmer.organic %> 
    </div>
  </div>

<%# The second row ------------------------------------------------ %>

<hr />
<div class="row">
    <div class="col-md-3">
      <strong>Field Name:</strong>
      <%= farmer.field_name2 %>
    </div>
  
    <div class="col-md-3">
      <strong>Crops:</strong>
      <%= farmer.crop2 %>
    </div>
  
    <div class="col-md-3">
      <strong>Acres:</strong>
      <%= farmer.acre2 %>
    </div>
   
    <div class="col-md-3">
      <strong>Trees:</strong>
      <%= farmer.tree2 %>
    </div>

    <div class="col-md-3">
      <strong>Date Planted:</strong>
      <%= farmer.date_planted2 %>
    </div>
  
    <div class="col-md-3">
      <strong>Estimated Yield:</strong>
      <%= farmer.est_yield2 %>
    </div>
  
    <div class="col-md-3">
     <strong>Last Used Chemicals:</strong>
     <%= farmer.last_used_chemical2 %>
    </div>

    <div class="col-md-3">
      <strong>Organic:</strong>
      <%= farmer.organic2 %>
    </div>
</div>

<%# Another row --------------------------------------------- %>

<hr />
<div class="row">
    <div class="col-md-3">
      <strong>Field Name:</strong>
      <%= farmer.field_name3 %>
    </div>
  
    <div class="col-md-3">
      <strong>Crops:</strong>
      <%= farmer.crop3 %>
    </div>
  
    <div class="col-md-3">
      <strong>Acres:</strong>
      <%= farmer.acre3 %>
    </div>
   
    <div class="col-md-3">
      <strong>Trees:</strong>
      <%= farmer.tree3 %>
    </div>

    <div class="col-md-3">
      <strong>Date Planted:</strong>
      <%= farmer.date_planted3 %>
    </div>
  
    <div class="col-md-3">
      <strong>Estimated Yield:</strong>
      <%= farmer.est_yield3 %>
    </div>
  
    <div class="col-md-3">
     <strong>Last Used Chemicals:</strong>
     <%= farmer.last_used_chemical3 %>
    </div>

    <div class="col-md-3">
      <strong>Organic:</strong>
      <%= farmer.organic3 %>
    </div>
</div>







</div>
