<p style="color: green"><%= notice %></p>

<%= render @crop %>

<div>
  <%= link_to "Edit this crop", edit_crop_path(@crop) %> |
  <%= link_to "Back to crops", crops_path %>

  <%= button_to "Destroy this crop", @crop, method: :delete %>
</div>
