<div id="<%= dom_id annual_crop %>">
  <p>
    <strong>Annual crop field:</strong>
    <%= annual_crop.annual_crop_field %>
  </p>

  <p>
    <strong>Anual crop acre:</strong>
    <%= annual_crop.anual_crop_acre %>
  </p>

  <p>
    <strong>Annual crop this year:</strong>
    <%= annual_crop.annual_crop_this_year %>
  </p>

  <p>
    <strong>Annual crop organic:</strong>
    <%= annual_crop.annual_crop_organic %>
  </p>

  <p>
    <strong>Annual crop last year:</strong>
    <%= annual_crop.annual_crop_last_year %>
  </p>

  <p>
    <strong>Annual crop last year organic:</strong>
    <%= annual_crop.annual_crop_last_year_organic %>
  </p>

  <p>
    <strong>Annual crop two years ago:</strong>
    <%= annual_crop.annual_crop_two_years_ago %>
  </p>

  <p>
    <strong>Annual crop two years ago organic:</strong>
    <%= annual_crop.annual_crop_two_years_ago_organic %>
  </p>

</div>
