<div id="<%= dom_id permanent_crop %>">
  <p>
    <strong>Field name:</strong>
    <%= permanent_crop.field_name %>
  </p>

  <p>
    <strong>Crop:</strong>
    <%= permanent_crop.crop_id %>
  </p>

  <p>
    <strong>Acres:</strong>
    <%= permanent_crop.acres %>
  </p>

  <p>
    <strong>Number of trees:</strong>
    <%= permanent_crop.number_of_trees %>
  </p>

  <p>
    <strong>Date planted:</strong>
    <%= permanent_crop.date_planted %>
  </p>

  <p>
    <strong>Estimated yield:</strong>
    <%= permanent_crop.estimated_yield %>
  </p>

  <p>
    <strong>Last chemical:</strong>
    <%= permanent_crop.last_chemical %>
  </p>

  <p>
    <strong>Organic:</strong>
    <%= permanent_crop.organic %>
  </p>

</div>
